.contact-banner{
    height: auto;
    width: 100%;
}
.contact{
    width: 100%;
    height: 230vh;
}
.contact-image{
    height: 380px;
    width: 380px;
    border-radius: 20px;
}
.contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
    margin-left: 8rem;
}
.contact-data-{
    margin-top: 5rem;
}
.contact-data- h4{
    font-size: 25px;
    font-weight: bold;
    color: #E94560;
}
.contact-data- h3{
    font-size: 20px;
    font-weight: lighter;
    color: #3F0071;
}
.contact-data- p{
    font-size: 20px;
    font-weight: lighter;
    color: #3F0071;
    margin-bottom: 0.5rem;
}
.contact-data- i{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: #E94560;
    color: white;
    padding: 1rem 1rem;
    transition: all 0.3s ease-in-out;
}
.contact-data- i:hover{
    transform: rotate(360deg);
    background-color: #3F0071;
}

@media screen and (max-width:319px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 320%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 350px;
        width: 350px;
    }
    .contact-section{
        gap: 3rem;
        margin-left: 4rem;
    }
    .contact-data-{
        margin-top: 4rem;
    }
}

@media screen and (min-width:320px) and (max-width:430px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 270%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 350px;
        width: 350px;
    }
    .contact-section{
        gap: 3rem;
        margin-left: 4rem;
    }
    .contact-data-{
        margin-top: 4rem;
    }
}

@media screen and (min-width:431px) and (max-width:540px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 290%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 550px;
        width: 550px;
    }
    .contact-section{
        gap: 5rem;
        margin-left: 4rem;
    }
    .contact-data-{
        margin-top: 9rem;
    }
    .contact-data- h4{
        font-size: 30px;
        font-weight: bold;
        color: #E94560;
    }
    .contact-data- h3{
        font-size: 25px;
    }
    .contact-data- p{
        font-size: 25px;
    }
    .contact-data- i{
        font-size: 1.9rem;
    }
}

@media screen and (min-width:541px) and (max-width:767px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 170%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 450px;
        width: 450px;
    }
    .contact-section{
        gap: 2rem;
        margin-left: 0rem;
    }
    .contact-data-{
        margin-top: 7rem;
    }
    .contact-data- h4{
        font-size: 25px;
        font-weight: bold;
        color: #E94560;
    }
    .contact-data- h3{
        font-size: 18px;
    }
    .contact-data- p{
        font-size: 18px;
    }
    .contact-data- i{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:768px) and (max-width:912px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 120%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 450px;
        width: 450px;
    }
    .contact-section{
        gap: 3rem;
        margin-left: 1rem;
    }
    .contact-data-{
        margin-top: 7rem;
    }
    .contact-data- h4{
        font-size: 25px;
        font-weight: bold;
        color: #E94560;
    }
    .contact-data- h3{
        font-size: 20px;
    }
    .contact-data- p{
        font-size: 20px;
    }
    .contact-data- i{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:913px) and (max-width:1024px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 450px;
        width: 450px;
    }
    .contact-section{
        gap: 3rem;
        margin-left: 1rem;
    }
    .contact-data-{
        margin-top: 7rem;
    }
    .contact-data- h4{
        font-size: 25px;
        font-weight: bold;
        color: #E94560;
    }
    .contact-data- h3{
        font-size: 20px;
    }
    .contact-data- p{
        font-size: 20px;
    }
    .contact-data- i{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:1024px){
    .contact{
        height: auto;
        width: 100%;
    }
    .contact-banner{
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
    .contact-image{
        height: 450px;
        width: 450px;
    }
    .contact-section{
        gap: 3rem;
        margin-left: 1rem;
    }
    .contact-data-{
        margin-top: 7rem;
    }
    .contact-data- h4{
        font-size: 25px;
        font-weight: bold;
        color: #E94560;
    }
    .contact-data- h3{
        font-size: 20px;
    }
    .contact-data- p{
        font-size: 20px;
    }
    .contact-data- i{
        font-size: 1.3rem;
    }
}